@model IEnumerable<mvcCACSLA.Models.Usuarios>

@{
    ViewBag.Title = "X";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>X</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubeCarreras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carreras.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios_niveles.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coordinaciones.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubeCarreras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carreras.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios_niveles.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coordinaciones.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUsuario })
        </td>
    </tr>
}

</table>
