@model mvcCACSLA.Models.Login
@{
    Layout = null;
}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema de Acreditación Nacional CACECA</title>
    <link rel="icon" href="/Content/imagenes/icono.png">
    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Content/signin.css" rel="stylesheet">
</head>

<body class="text-center">
       @using(Html.BeginForm("Login","Login",FormMethod.Post,new{@class = "form-signin"})){
           @Html.AntiForgeryToken()
           @Html.ValidationSummary(true, "Login Incorrecto!. Verifica tus datos.");
           
           <img src="/Content/imagenes/logo_uabc_4.png" class="img-responsive logouabc" style="display: inline-block"/>
           <img src="/Content/imagenes/caceca_3.png" class="img-responsive logocaceca" style="display: inline-block"/>
           
           <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1><br/>
           @Html.LabelFor(u => u.Usuario,new{@class="sr-only"})
           @Html.TextBoxFor(u => u.Usuario,new{placeholder = "Usuario",@class="form-control"})
           @Html.ValidationMessageFor(u => u.Usuario, "", new { @class = "text-danger" })
           @Html.LabelFor(u => u.Password,new{@class="sr-only"})
           @Html.PasswordFor(u=> u.Password,new{ placeholder="Password", @class="form-control"})
           @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
           <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">Continuar</button>
           <br/>
           <p class="mt-5 mb-3 text-muted">&copy; @DateTime.Now.Year - D.R.© Universidad Autónoma de Baja California | Facultad de Ciencias Administrativas | Mexicali Baja California</p>
       }
</body>
</html>



